#tout{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 75px;
    grid-template-areas: 
        "menu titre"
        "lien p"
        "image p";
    margin: 0%;
}
#Menu{
    background-color: aliceblue;
    grid-area: menu;
    margin: 0%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#lien{
    margin: 0cm;
    grid-area: lien;
    padding-left: 10px;
    color: rgb(0, 0, 255);
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
#Titre{
    background-color: blueviolet;
    margin: 0cm;
    grid-area: titre;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    background-color: blueviolet;
    margin: 0cm;
    text-align: justify;
    grid-area: p;
}
body{
    margin: 0cm;
}
html{
    margin: 0cm;
}
img{
    background-color: aliceblue;
    grid-area: image;
    padding-left: 50px;
    padding-right: 50px;
}
